body {
    font-family: "Garamond", Garamond, serif;
}

html {
    -webkit-tap-highlight-color: transparent !important;
}

.page-wrap {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}

.v-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.v-back {
    text-decoration: none;
    text-align: center;
    color: black;
    padding-bottom: 80px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
    .v-back {
        padding-bottom: 60px;
    }
}

.v-page img {
    max-width: 100%;
    max-height: 90vh;
    height: inherit !important;
}

a:focus,
a:hover,
a:active {
    -webkit-box-shadow: none !important;

    box-shadow: none !important;

    background-color: unset !important;
    -webkit-tap-highlight-color: transparent !important;

}