body {
  font-family: "Garamond", Garamond, serif;
}

.v-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.v-back {
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 10px;
}

.v-page img {
    max-width:90vw;
    width: 600px;
}
